.wrapper
  height: 35vw
  background-position: center

.banner-image
  width: 100%

button
  width: 20px !important
  background-color: black
  height: 20px !important
  border-radius: 50% !important

button
  .active
    width: 20px !important
    background-color: yellow
    height: 20px !important
    border-radius: 50% !important

