<div class="reviewer__card">

  <img class="reviewer__card__image" src="../../../assets/images/reviews/image 3.png" alt="Banner Produtos em Destaque" />

  <div class="reviewer__card__description">
    <div class="reviewer__card__description__title">
      <img src="../../../assets/quot.svg" alt="Arroba da Influencer" />
      <p> @LoremIpsum</p>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ratione eaque officiis iusto, recusandae numquam perspiciatis. Cumque tempora esse quos facere officia. Quisquam ex neque alias fuga animi velit a!
    </p>
  </div>
</div>
