<div class="wrapper">
  <p-carousel [value]="reviews" [numVisible]="4" [numScroll]="1" [responsiveOptions]="responsiveOptions" [showNavigators]="false">
    <ng-template let-review pTemplate="item" >
      <div class="reviewer__card">
        <img class="reviewer__card__image" [src]="review.image" alt="Banner Produtos em Destaque" />
        <div class="reviewer__card__description">
          <div class="reviewer__card__description__title">
            <img src="../../../assets/quot.svg" alt="Arroba da Influencer" />
            <h4> {{review.userName}}</h4>
          </div>
          <p>
            {{review.description}}
          </p>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>



